* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden; }
  body .container1 {
    width: 70px;
    height: 70px;
    position: relative;
    top: 100px;
    animation: container1 2s linear infinite; }
    body .container1 div {
      width: 70px;
      height: 70px;
      border: 4px solid #000;
      position: absolute;
      left: 0;
      top: 0; }
    body .container1 :nth-child(1) {
      animation: rect1 2s ease-in infinite; }
    body .container1 :nth-child(2) {
      animation: rect2 2s ease-in infinite; }
    body .container1 :nth-child(3) {
      animation: rect3 2s ease-in infinite; }
    body .container1 :nth-child(4) {
      animation: rect4 2s ease-in infinite; }
  body .container2 {
    position: relative;
    top: 200px;
    left: -70px; }
    body .container2 div {
      width: 70px;
      height: 70px;
      border-radius: 50%; }
    body .container2 :nth-child(1) {
      background-color: #0f60e2;
      position: absolute;
      top: 0;
      left: 0;
      animation: move1 7s ease infinite; }
    body .container2 :nth-child(2) {
      background-color: #bc0d36;
      position: absolute;
      top: 0;
      left: 100px;
      animation: move1 7s ease infinite;
      animation-name: move2; }
    body .container2 :nth-child(3) {
      background-color: #fcf419;
      position: absolute;
      top: 100px;
      left: 100px;
      animation: move1 7s ease infinite;
      animation-name: move3; }
    body .container2 :nth-child(4) {
      background-color: #dd8bdd;
      position: absolute;
      top: 100px;
      left: 0px;
      animation: move1 7s ease infinite;
      animation-name: move4; }

@keyframes container1 {
  0% {
    transform: rotate(-90deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-260deg); } }

@keyframes rect1 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(-70px, 0);
    border-color: #0f60e2; }
  100% {
    transform: translate(0); } }

@keyframes rect2 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(70px, 0);
    border-color: #bc0d36; }
  100% {
    transform: translate(0); } }

@keyframes rect3 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(0, 70px);
    border-color: #fcf419; }
  100% {
    transform: translate(0); } }

@keyframes rect4 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(0, -70px);
    border-color: #dd8bdd; }
  100% {
    transform: translate(0); } }

@keyframes move1 {
  0% {
    transform: translate(0, 0);
    border-radius: 50%; }
  25% {
    transform: translate(100px, 0) scale(0.5);
    border-radius: 0%; }
  50% {
    transform: translate(100px, 100px);
    border-radius: 50%; }
  75% {
    transform: translate(0, 100px) scale(0.5);
    border-radius: 0%; } }

@keyframes move2 {
  0% {
    transform: translate(0, 0) scale(0.5);
    border-radius: 0%; }
  25% {
    transform: translate(0, 100px);
    border-radius: 50%; }
  50% {
    transform: translate(-100px, 100px) scale(0.5);
    border-radius: 0%; }
  75% {
    transform: translate(-100px, 0);
    border-radius: 50%; }
  100% {
    transform: translate(0, 0) scale(0.5);
    border-radius: 0%; } }

@keyframes move3 {
  0% {
    transform: translate(0, 0);
    border-radius: 50%; }
  25% {
    transform: translate(-100px, 0) scale(0.5);
    border-radius: 0%; }
  50% {
    transform: translate(-100px, -100px);
    border-radius: 50%; }
  75% {
    transform: translate(0, -100px) scale(0.5);
    border-radius: 0%; } }

@keyframes move4 {
  0% {
    transform: translate(0, 0) scale(0.5);
    border-radius: 0%; }
  25% {
    transform: translate(0, -100px);
    border-radius: 50%; }
  50% {
    transform: translate(100px, -100px) scale(0.5);
    border-radius: 0%; }
  75% {
    transform: translate(100px, 0);
    border-radius: 50%; }
  100% {
    transform: translate(0, 0) scale(0.5);
    border-radius: 0%; } }
